* {
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* login in  */
.App {
    background-color: black;
}

#sign-up {
    cursor: pointer
}

#btn {
    background-color: #be3144;
    color: #d3d6db;
    border-color: #be3144
}

#btn:hover {
    background-color: #a12838;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.text-center {
    color: whitesmoke;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: whitesmoke;
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;

}

/* 'Gallery' from carousel  */
#gallery {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #be3144;
    color: #d3d6db;
}

.first {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

@media only screen and (max-width: 1024px) {
    .first {
        height: 75vh
    }
}

@media only screen and (max-width: 640px) {
    .first {
        height: 60vh;
    }
}