
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: #3a4750;
}
/* login in  */
.App {
    background-color: white;
}

#sign-up {
    cursor: pointer
}

#btn {
    background-color: #be3144;
    color: #d3d6db;
    border-color: #be3144
}

#btn:hover {
    background-color: #a12838;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #d3d6db;
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #d3d6db;

}
/* 'Gallery' from carousel  */
#gallery {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #be3144;
    color: #d3d6db;
}

  

 *  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
