.about-owner-container {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  padding: 50px 200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.image-about-owner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-about-owner-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  max-width: 520px;
  min-width: 230px;
}

.owner-about h2{
  text-align: end;
  font-size: 2.5rem;
  font-weight: bolder;
}

.owner-about p {
  font-size: larger;
  margin-top: 50px;
  text-align: center;
}

.owner-about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .about-owner-container {
    grid-template-columns: 1fr;
  }

  .owner-about p {
    margin: 0;
  }

  .owner-about h2{
    text-align: center;
  }

  .owner-about p {
    padding: 50px;
    font-size: 1.1rem;
    text-align: center;
  }
}


@media only screen and (max-width: 850px) {
  .about-owner-container {
    padding: 50px;
  }

  .owner-about p {
    padding: 10px 0px;
  }
}