.our-team-container {
  background-color: #d3d6db;
  padding: 75px 20px 75px 20px;
  text-align: center;
  height: auto;
  width: auto;
}

.our-team-container h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.team-flex-container {
  padding: 20px 100px 20px 100px;
  /* display: flex; */
  display: grid;
  align-items: center;
  gap: 1rem;
  /* grid-template-columns: 1fr 1fr 1fr; */
  margin: 0 auto;
}

p {
  font-weight: 600;;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

.team {
  margin: 20px 20px 20px 20px;
}

.book-with-btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-with {
  text-decoration: none;
  padding: 10px 40px 10px 40px;
  background-color: white;
  color: black;
  font-weight: bolder;
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  transition: .3s;
}

.book-with:hover {
  background-color: #ab0f14;
  color: black;
  cursor: pointer;
}

.team-flex-container img {
  height: auto;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 5px 10px 10px 5px grey;
}

@media only screen and (min-width: 600px) {
  .team-flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .team-flex-container { grid-template-columns: repeat(3, 1fr);
   /*  padding: 20px; */
  }

}

@media only screen and (max-width: 684px) {
  .book-with {
    padding: 5px 20px 5px 20px;
  }

  .team-flex-container {
    padding: 0;
  }

  .our-team-container {
    padding: 40px 0 40px 0px;
  }
}