.about-us-container {
  height: auto;
  text-align: center;
  background-color: #d3d6db ;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-container h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-us-container p {
  font-size: 1.2rem;
  }

.text-container {
  padding: 200px;
}

.text-container p{
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .about-us-container{
    padding: 100px 30px 100px 30px
  }

  .text-container {
    padding: 20px;
  }
}


