.about-us-container {
  height: auto;;
  height: 40vh;
  text-align: center;
  background-color: #303841 ;
  color: #d3d6db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-container h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about-us-container p {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  }



@media only screen and (max-width: 768px) {
  .about-us-container{
    padding: 100px 30px 100px 30px
  }
}
