.cart {
  z-index: 1;
  position: absolute;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 100%;
  background-color: white;
  overflow: auto;
  border-color: black;
  padding: 2.5rem;
}

.Total strong {
  font-size: 2rem;
}

.cartImg img {
  width: 15vw;
  vertical-align: middle;
  margin: 0 auto;
}

button,
.login {
  background-color: #be3144;
  color: #d3d6db;
  border-color: #be3144;
  border-radius: 8px;
}

.logText {
  color: whitesmoke;
}

.login {
  color: #be3144;
  padding: 10px;
  align-items: center;
  width: 16vw;
  margin: 0 auto;
}

.cart h2 {
  font-weight: bolder;
  font-size: 2rem;
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart {
  position: absolute;
  border: 2px solid;
  border-radius: 9px;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.cartitem {
  align-items: center;
  margin: 0 auto;
}

.cartitem:hover {
  cursor: pointer;
}


.cart-closed {
  position: absolute;
  right: 1%;
  font-size: 2rem;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    min-width: 100%;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .login {
    width: 70vw;
  }

  .cart-closed {
    margin: 0 auto;
  }
}