/* Carousel */
.slider-container {
    height: auto;
    width: 100%;
    background-color: #303841;
    padding: 100px 0px;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
  }

.image-container {
    width: 40vw;  
}

#image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media only screen and (max-width: 600px) {
    .image-container {
        width: 80vw;
    }
}