.item-shop {
  padding: 250px 100px 250px 100px;
  position: relative;
  background-color: white;
  text-align: center;
  height: 100vh;
  width: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 0px 300px;
  justify-items: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 600px;
  min-height: 500px;
  min-width: 308px;
  padding: 10px;
  position: relative;
  border-radius: .25rem;
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgb(0, 0 ,0, .3);
  transform: perspective(700px) rotateY(var(--rotate-y, 0)) translateZ(var(--translate-z, 0));
  transition: .5s;
  transform-style: preserve-3d;
  
}

.cards:hover {
  --translate-z: 20px;
  box-shadow: 0 0 5px 5px rgb(0, 0, 0, .7);
}

.cards.flip {
  --rotate-y: 180deg;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.card-back {
  transform: rotateY(180deg)
}

.cards h2 {
  font-size: 1.3rem;
  font-weight: bolder;
}

.ca

.card-front img {
  height: 100%;
  width: 100%;
  min-width: 220px;
  min-height: 220px;
  object-fit: contain;
}

.cards button {
  background-color: #303841;  
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 2px rgb(0, 0, 0, .3);
}
.cards button:hover {
  box-shadow: 0 0 5px  rgb(0, 0, 0, .7);
}

@media only screen and (max-width: 1820px) {
  .card-grid {
    padding: 0 200px;
  }
}

@media only screen and (max-width: 1520px) {
  .card-grid {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1320px) {
  .card-grid {
    padding: 0;
  }
}

@media only screen and (max-width: 1080px) {
  .card-grid {
    grid-template-columns: 1fr;
    gap: 100px
  }

  .item-shop {
    height: auto;
  }
}

@media only screen and (max-width:500px) {
  .item-shop {
    padding: 270px 30px;
  }
}

