.Contact-us,
.address {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #be3144;
    color: #d3d6db;
    font-size: 37px;
    padding: 0px 0px 30px;
}
.hourNtell {
    display: flex;
    justify-content: space-evenly;
}
.hours,
.Call {
    color: #d3d6db;
    text-align: center;
    font-size: 25px;
}
.Tel h3,
.direction,
.time {
    text-align: center;
    color: #d3d6db;
    font-size: 20px;
}
iframe {
    padding: 30px;
    display: block;
    margin: 0 auto;
}