.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

.header-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  width: 100vw;
  padding: 0, 2rem;
  color: black;
  top: 0;
  position: sticky;
  padding: 50px;
  z-index: 10000;
  box-shadow: 10px 10px 30px black
}



svg {
  height: 65px;
  color: white;
  background-color: transparent;
}

header h2{
  font-size: 30px;
  font-weight: 700;
  display: none;
  background-color: transparent;
}
nav {
  background-color: transparent;;
}
nav a{
  font-size: 20px;
  margin: 0 2rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
}

nav a:hover {
  color: #d3d6db; 
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(211, 214, 219);
  display: none;
  opacity: 0;
}

.manolo-logo {
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.manolo-logo-nav {
  display: none;
}

.nav-text {
  background-color: transparent;
}

@media only screen and (max-width: 1051px) {
  header .nav-btn {
    display: inline-block;
    opacity: 1;
  }

  .manolo-logo {
    display: none;
  }

  .header-container {
    height: auto;
    padding: 30px;
  }

  header h2 {
    text-align: center;
    display: inline-block;
    color: white;

  }

  .manolo-logo-nav {
    display: inline-block;
    top: 0;
    width: 250px;
    background-color: transparent;
  }

  .nav-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin-bottom: 20px;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: .5s;
    background-color: #303841;
    transform: translateY(-100vh)
  }

  header .responsive-nav {
    transform: none;
    transition: .4s;
    z-index: 10;
  }

  nav .nav-close-bottom {
    font-size: 1.8rem;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 430px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}