.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
}

svg {
  height: 60px;
  color: white;
}
path {
  height: 60px;
}
header h2{
  font-size: 30px;
  font-weight: 700;
}

nav a{
  font-size: 20px;
  margin: 0 2rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  color: #d3d6db; 
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  display: none;
  opacity: 0;
}

.manolo-logo {
  width: 300px;
  justify-content: center;
  align-items: center;
}

.manolo-logo-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: inline-block;
    opacity: 1;
  }

  .manolo-logo-nav {
    display: inline-block;
    top: 0;
    width: 250px;
  }

  .nav-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin-bottom: 20px;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: .5s;
    background-color: #303841;
    transform: translateY(-100vh)
  }

  header .responsive-nav {
    transform: none;
    transition: .4s;
  }

  nav .nav-close-bottom {
    font-size: 1.8rem;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

