.item-shop-container {
  padding: 250px 50px 100px 50px;
  text-align: center;
  height: auto;
  width: auto;
  background-color: #3a4750;
  color: #d3d6d3;
}

.card-container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  color: black;
  gap: 5rem;
  padding: 100px 200px 100px 200px;
}

.add-to-cart {
  padding: 20px 10px 20px 10px;
  background-color: black;
  width: 50%;
  align-self: center;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}


.add-to-cart:hover {
  background-color: rgba(0, 0, 0, 90%);
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card h2 {
  padding-top: 20px;
}

.card {
  max-width: 440px;
  min-width: 200px;
  border-radius: 10px;
}

.card img  {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1220px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .add-to-cart {
    padding: 10px;
    width: 80%;
  }
}

@media only screen and (max-width:420px) {
  .item-name-price {
    font-size: 1.3rem;
  }

  .item-shop-container {
    padding: 250px 0px 100px 0px;
  }
}